hr {
  margin: 0
}

.rodape__titulo {
  background-color: var(--cor-2);
  padding: 1em;
  font-weight: 400;
  font-size: 14px;
}

.lista-rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-2);
  }

  .lista-rodape {
    display: block;
  }

  .lista-rodape__item {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0.6em 0;
  }

  .lista-rodape__link {
    color: var(--cor-5);
    text-decoration: none;
    margin-left: 0.6em;

  }

  .lista-rodape__titulo {
    list-style: none;
    color: var(--cor-6);
    font-size: 14px;
  }

  .rodape__titulo {
    font-size: 24px;
  }
}
@media screen and (min-width: 1728px){
  .lista-rodape{
    border-left:1px solid var(--cor-6);
    padding-left: 1em;
  }
  .rodape{
    padding: 3em 0;
  }
  
}